<mat-nav-list>
  <div class="logo py-4">
    <img src="../../assets/img/logo.png" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2 content">APPLICATIONS</h2>

  <div class="hovers active">
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/hotel">
      <div class="content">
        <mat-icon>dashboard</mat-icon> Dashboard
      </div>
    </a>
  </div>

  <div class="hovers">
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/booking">
      <div class="content hovers"><mat-icon>hotel</mat-icon> Bookings</div>
    </a>
  </div>
</mat-nav-list>
